*
!.gitignore

!webkernelphp.com/
!webkernelphp.com/.gitkeep

!git.numerimondes.com/
!git.numerimondes.com/.gitkeep

!github.com/
!github.com/.gitkeep

!gitlab.com/
!gitlab.com/.gitkeep

!bitbucket.org/
!bitbucket.org/.gitkeep

!azure.com/
!azure.com/.gitkeep

!aws.amazon.com/
!aws.amazon.com/.gitkeep

!assembla.com/
!assembla.com/.gitkeep
