parameters:
  level: 5
  phpVersion: 80400
  treatPhpDocTypesAsCertain: false
  errorFormat: table

  paths:
    - bootstrap/webkernel
    - modules

  excludePaths:
    - tests (?)
    - vendor
    - bootstrap/cache
    - storage
    - node_modules

  bootstrapFiles:
    - bootstrap/webkernel/support/boot/phpstan-bootstrap.php

  ignoreErrors:
    - message: '#Call to an undefined method.*app\(\)#'
    - message: '#Access to an undefined property#'
    - message: '#Call to static method.*on an unknown class#'
    - message: '#Function.*not found#'
